* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav {
  height: 50px;
  width: 70%;
  margin: 0 auto;
  background-color: blanchedalmond;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
}
nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .links a {
  color: black;
  text-decoration: none;
}
nav .links a:visited {
  color: black;
}
nav .name {
  background-color: blanchedalmond;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 50px;
  color: darkorange;
}

.submit {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}

ul {
  padding-top: 20px;
  margin: 0 auto;
  width: 40%;
}

li.strike {
  text-decoration: line-through;
}

li {
  padding-left: 10px;
  cursor: pointer;
  list-style-type: none;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
li input {
  margin: 0 20px;
}

li:nth-child(odd) {
  background-color: tan;
}

li:nth-child(even) {
  background-color: beige;
}

#app {
  width: 100vw;
  height: 1000px;
  background-color: peru;
}
#app .home-container {
  width: 60%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0 auto;
}
#app .home-container .h2 {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#app .home-container .h2 h2 {
  margin: 0 auto;
  padding-bottom: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
#app .home-container .h2 h3 {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#app .home-container .login {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#app .home-container .button {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#app .home-container .button .load {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#app {
  margin-top: 20px;
  width: 100%;
}
#app .log-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 500px;
}
#app .log-container .create-account {
  width: 50vw;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: peachpuff;
}
#app .log-container .login {
  width: 50vw;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: papayawhip;
}